* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f3f6;
}

.profile-page {
  display: flex;
  min-height: 100vh;

  .profile-sidebar {
    width: 250px;
    background-color: white;
    color: blue;
    padding: 20px;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      border-bottom: 1px solid #ffffff50;
      padding-bottom: 10px;
    }

    ul {
      list-style: none;

      li {
        padding: 12px 15px;
        cursor: pointer;
        font-size: 16px;
        color: blue;
        border-radius: 4px;
        margin-bottom: 10px;
        transition: background-color 0.3s, color 0.3s;
        background-color: #b7bcc2;

        &:hover {
          background-color: #0056b3;
          color: white;
        }

        &.active {
          background-color: #ff9f00;
          color: white;
        }
      }
    }
  }

  .profile-content {
    flex: 1;
    // padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;

    h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
    }

    .profile-card {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .profile-field {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .label {
          font-weight: bold;
          color: #555;
        }

        .value {
          color: #333;
        }
      }

      .edit-btn,
      .create-btn {
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;

        &.edit-btn {
          background-color: #2874f0;
          color: white;

          &:hover {
            background-color: #0056b3;
          }
        }

        &.create-btn {
          background-color: #ff9f00;
          color: white;

          &:hover {
            background-color: #e68900;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .profile-page {
    flex-direction: column;

    .profile-sidebar {
      width: 100%;
      text-align: center;

      ul {
        display: flex;
        justify-content: space-evenly;

        li {
          flex: 1;
          text-align: center;
        }
      }
    }

    .profile-content {
      margin: 10px 0;
    }
  }
}
